@import url('./styles/windows.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: rgb(255, 255, 255);
    --main-font-color: rgb(0, 0, 0);
    --weak-inverse-main-color: rgba(0, 0, 0, 0.03);
    --weak-font-color: rgba(0, 0, 0, 0.2);
    --window-border-radius: 10px;
    --window-panel-color: rgb(67, 67, 67);
    --gray-color: rgb(67, 67, 67);
    --bright-gray-color: rgb(80, 80, 80);
    --window-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    --weak-box-shadow: 0px 0px 3px gray;
    --buttons-mobile-color: rgba(255, 255, 255, 0.5);
    --window-background-color: rgba(255, 255, 255, 1);

    --title-author-text-shadow-color: rgba(0, 0, 0, 0);
    --main-window-button-hover-color: rgb(0, 0, 0);
    --main-window-button-hover-text-shadow-color: rgba(255, 98, 0, 0);
}

* {
    color: var(--main-font-color)
}

img {
    user-select: none;
}

#glcanvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    font-size: 1.4rem;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

#override {
    position: fixed;
    inset: 0;
    z-index: 3;
    animation: override-disappear 1s linear forwards;
    pointer-events: none;
}

@keyframes override-disappear {
    from {
        background-color: black;
    }
    to {
        background-color: transparent;
    }
}

#centered {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-window {
    --border-radius: var(--window-border-radius);
    position: relative;
    max-width: 100vw;
    margin-top: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--window-box-shadow);
    user-select: none;
    animation: main-window-appearance 3s ease-out forwards;
}

@keyframes main-window-appearance {
    from {
        transform: translateY(30px);
        scale: 1.1;
    }
    to {
        scale: 1;
        transform: none;
    }
}

#music-illustration-btn {
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    width: 150px;
    right: 20px;
    top: -110px;
    filter: brightness(70%);
    transition: filter 0.1s linear;
}

.main-window-music-particle {
    position: absolute;
    color: var(--weak-font-color);
    z-index: -1;
    animation: music-particle-disappear 3s linear;
}

@keyframes music-particle-disappear {
    0% {
        font-size: 2rem;
        opacity: 1;
    }
    100% {
        font-size: 1rem;
        opacity: 0;
    }
}

#music-illustration-btn.music-illustration-animation {
    animation: music-illustration-anim 0.2s ease-out;
}

@keyframes music-illustration-anim {
    0% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

#music-illustration-btn:hover {
    filter: brightness(100%);
}

#music-illustration-btn {
    cursor: pointer;
}

#main-window .content {
    border-bottom-left-radius: var(--window-border-radius);
    border-bottom-right-radius: var(--window-border-radius);
    /* background-color: var(--main-color); */
    backdrop-filter: blur(100px) brightness(100%) opacity(93%);
    padding: 30px 70px;
}

#title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
}

#title-author {
    font-size: 1.3em;
    text-shadow: 0px 0px 9px var(--title-author-text-shadow-color);
    color: rgb(255, 200, 0);
    font-weight: 400;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

#buttons *:not(button) {
    pointer-events: none;
    user-select: none;
    color: inherit !important;
    text-shadow: inherit !important;
}

#buttons > button {
    color: var(--main-font-color);
    background-color: transparent;
    border: var(--button-border);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 2.5rem;
    transition: all 0.1s linear;
    opacity: .5;
}

#buttons > button:hover {
    color: var(--main-window-button-hover-color);
    opacity: 1;
    text-shadow: 0px 0px 5px var(--main-window-button-hover-text-shadow-color),
                 0px 0px 50px var(--main-window-button-hover-text-shadow-color);
    /* font-size: 2.8rem; */
    scale: 1.06;
    transform: matrix3d();
}

#buttons i {
    font-size: 1em;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    transition: font-size 0.1s linear;
}

#buttons p {
    font-size: 0.8rem;
}

#bottom-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    gap: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    user-select: none;
}

#bottom-buttons button {
    position: relative;
    /* background-color: var(--main-color); */
    backdrop-filter: blur(100px) brightness(100%) opacity(90%);
    background-color: transparent;
    border: var(--button-border);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: font-size 0.1s linear;
}

#bottom-buttons *:not(button):not(a) {
    pointer-events: none;
}

#bottom-buttons button.copyable::after {
    position: absolute;
    content: 'Copied @pizda69!';
    width: 300px;
    height: 40px;
    top: -50px;
    left: 50%;
    border-radius: 10px;
    background-color: var(--window-background-color);
    opacity: 0;
    font-size: 1.3rem;
    pointer-events: none;
}

#bottom-buttons button.copyable::before {
    pointer-events: none;
    position: absolute;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--window-background-color);
    top: -10px;
    left: 50%;
    opacity: 0;
}

#bottom-buttons button.copyable.show-copied-popup::after,
#bottom-buttons button.copyable.show-copied-popup::before {
    animation: s-popup 2s ease-in-out forwards;
}

@keyframes s-popup {
    0% {
        opacity: 1;
        transform: translateX(-50%);
    }
    40% {
        transform: translateX(-50%) skew(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) skew(-10deg);
        opacity: 0;
    }
}

#bottom-buttons i {
    color: var(--gray-color);
}

#bottom-buttons button:hover {
    font-size: 1.25rem;
}

#bottom-buttons a {
    position: absolute;
    inset: 0;
}

#music-btn, #sound-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    font-size: 1.7rem;
    transition: font-size 0.2s linear;
}

#music-btn.audio-btn-disabled::before, #sound-btn.audio-btn-disabled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 3px;
    transform: translateY(13px) translateX(25px);
    border-radius: 10px;
    rotate: 45deg;
    background: var(--gray-color); /* для примера */;
    transition: all .2s ease-in-out;
}

#music-btn.audio-btn-disabled:hover::before, #sound-btn.audio-btn-disabled:hover::before {
    width: 100%;
    transform: translateY(15px) translateX(20px);
}


#music-btn i, #sound-btn i {
    color: var(--gray-color)
}

#sound-btn {
    display: block;
    right: 20px;
    top: 20px;
}

#night-mode-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    font-size: 1.7rem;
    transition: font-size 0.2s linear;
    transition: all .3s ease;
}

/* #night-mode-btn * {
    color: inherit !important
}

#night-mode-btn:hover {
    color: var(--main-window-button-hover-color);
    text-shadow: 0px 0px 6px var(--main-window-button-hover-text-shadow-color)
} */

#night-mode-btn:hover, #music-btn:hover, #sound-btn:hover {
    font-size: 2rem;
}

.btn-animation {
    display: inline-block;
    animation: btn-anim 0.3s ease-out forwards;
}

@keyframes btn-anim {
    0% {
        rotate: 50deg;
        scale: 0;
    }
    100% {
        scale: 1;
        rotate: 0deg;
    }
}

#night-mode-btn i {
    color: var(--gray-color)
}

.window {
    --width: 800px;
    --height: 500px;
    --border-radius: var(--window-border-radius);
    border-radius: var(--border-radius);
    background-color: var(--window-background-color);
    backdrop-filter: blur(120px) brightness(90%);
    position: fixed;
    width: var(--width);
    height: var(--height);
    display: none;
    flex-direction: column;
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.8); */
    box-shadow: var(--window-box-shadow);
    /* min-width: 500px;
    min-height: 300px; */
    max-width: 100vw;
    max-height: 100vh;
}

@keyframes window-fullscreen-anim {
  from {
    --border-radius: var(--window-border-radius);
    width: var(--width);
    height: var(--height);
    top: var(--top);
    left: var(--left);
  }
  to {
    --border-radius: 0px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
}

.window-fullscreen {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    --border-radius: 0px;
}

.window-fullscreen-show {
    animation: window-fullscreen-anim 0.3s ease-in-out forwards;
}

.window-fullscreen-hide {
    animation: window-fullscreen-anim 0.3s ease-in-out forwards reverse;
}

.window > .content * {
    margin: 10px 0;
}

.window:not(#about-me) h1 {
    font-size: 2.2rem;
    border-left: 5px solid var(--main-font-color);
    padding: 0px 25px;
    text-align: left;
}

.window .content h2 {
    margin-top: 50px !important;
    padding: 0px 15px;
    font-weight: 500;
    border-left: 3px solid var(--main-font-color);
}

.window .content p {
    text-align: justify;
}

.show-window {
    animation: s-window 0.4s ease-out forwards;
}

@keyframes s-window {
    0% {
        opacity: 0;
        top: calc(50vh - var(--height) / 2);
        left: calc(50vw - var(--width) / 2);
        scale: 1.5;
    }
    100% {
        opacity: 1;
        top: var(--top);
        left: var(--left);
        scale: 1;
    }
}

@keyframes s-window-mobile {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

.hide-window {
    animation: h-window 0.3s ease-in forwards;
}

@keyframes h-window {
    0% {
        opacity: 1;
        top: var(--top);
        left: var(--left);
        scale: 1;
    }
    100% {
        opacity: 0;
        top: calc(50vh - var(--height) / 2);
        left: calc(50vw - var(--width) / 2);
        scale: 0;
    }
}

.window-panel {
    font-size: 1.5rem;
    font-weight: 900;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--window-panel-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    user-select: none;
    -webkit-user-drag: none;
}

.window-panel * {
    color: white;
    font-size: 1.2rem;
}

.window-panel .title {
    flex: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    pointer-events: visible;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.window-panel > .buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.window-panel > .buttons > button {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 100%;
    transition: background-color 0.05s linear, font-size 0.1s linear;
}

.window-panel > .buttons > button > i {
    font-size: inherit
}

.window-panel > .buttons button:active {
    font-size: 0.85em;
}

.window-panel .close {
    border-top-right-radius: var(--border-radius);
}

.window-panel .fullscreen:hover, .window-panel .fullscreen:active {
    background-color: rgba(255, 255, 255, 0.13);
}

.window-panel .close:hover, .window-panel .close:active {
    background-color: rgb(223, 10, 10);
}

.window > .content {
    margin: 4px;
    margin-top: 0px;
    padding: 20px;
    overflow-y: scroll;
    flex: 1;
    border-bottom-left-radius: var(--window-border-radius);
    border-bottom-right-radius: var(--window-border-radius);
    /* background-color: var(--main-color); */
}

.window > .content::-webkit-scrollbar {
  width: 8px;
}

.window > .content::-webkit-scrollbar-track {
  background: transparent;
}

.window > .content::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

.window > .content .centered-image {
    display: block;
    margin: 0 auto;
}

.image-content {
    margin: 0px !important;
    padding: 0px !important;
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    display: block;
    margin: 0 auto !important;
    max-width: 100%;
    max-height: 100%;;
}

.open-in-window:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

@keyframes s-answer {
    0% {
        font-size: 0;
        opacity: 0;
        margin: 0;
    }
    50% {
        font-size: initial;
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 932px) {
    #title {
        font-size: min(calc(14vw + 1px), 2.5rem);
    }

    .window, .window * {
        border-radius: unset;
    }

    .window {
        --border-radius: 0px;
        position: absolute;
        inset: 0 !important;
        width: 100vw;
        height: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
    }

    .window > .content {
        margin-right: 0;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 65px;
    }

    .window > .content::-webkit-scrollbar {
        display: none;
    }

    #title-author {
        display: block;
    }

    #main-window {
        box-shadow: none;
        background-color: transparent;
        animation: none;
    }

    #main-window > .window-panel {
        display: none;
    }

    #main-window .content {
        padding: 0;
        backdrop-filter: initial;
        background-color: transparent;
    }

    #buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* width: 215px; */
        width: 0px;
        margin: 0 auto;
        gap: 10px;
    }

    #buttons > button {
        width: 90px;
        height: 90px;
    }
    
    /* 
    #buttons > :last-child {
        grid-column: span 2;
        width: 100%;
    } */

    #buttons > button, #bottom-buttons > button {
        background-color: var(--buttons-mobile-color);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #bottom-buttons {
        top: 20px;
        height: min-content;
    }

    #discord-btn::before {
        display: none !important;
    }
    
    #discord-btn::after {
        font-size: 1rem !important;
        transform: translateX(calc(-50% + 25px)) translateY(100px) !important;
    }

    html {
        font-size: 1.15rem;
    }

    .show-window {
        animation: s-window-mobile 0.3s ease-out forwards;
    }

    .hide-window {
        animation: s-window-mobile 0.3s ease-out reverse forwards;
    }

    #about-me .profile-image {
        width: 80px;
        height: 80px;
    }

    #about-me .header {
        display: flex;
        gap: 30px;
        padding: 20px;
        padding-top: 30px;
    }

    #about-me .profile-name {
        font-size: 2rem;
    }

    #about-me .subtitle {
        font-size: 1rem;
    }

    .left-image {
        float: right;
        width: 100%;
        padding-right: 0px; 
    }

    #creation .illustrations-container {
        justify-content: space-evenly;
    }

    #creation .illustrations-container > img { 
        width: 45%;
        max-width: none;
        max-height: none;
    }

    #creation .game-info-container {
        margin: 10px 0;
        box-shadow: var(--weak-box-shadow);
        background-color: rgba(0, 0, 0, 0.02);
        padding: 10px;
        flex-direction: column;
    }

    #creation .game-info-container img {
        margin: 0;
        width: 100%;
    }

    #skills .tools-container > span:hover {
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }

    #creation .game-info-container .download.pc-only {
        display: none;
    }

    #creation .game-info-container .download.mobile-only {
        display: block;
    }

    #music-btn {
        display: block;
    }

    #music-illustration-btn {
        display: none;
    }

    .main-window-music-particle {
        display: none;
    }

    .window-panel .fullscreen {
        display: none;
    }

    #sound-btn {
        top: 80px;
    }
}

@media (max-height: 500px) {
    #main-window > .content {
        width: 100%;
    }

    #title {
        display: none;
    }

    #title-author {
        display: inline;
    }

    #about-me > .header {
        display: none;
    }

    #buttons {
        grid-template-rows: 1fr !important;
        grid-template-columns: repeat(4, 1fr) !important;
    }
}