@import url('./styles/windows.css');
@import url('./styles/specificWindows.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: rgb(255, 255, 255);
    --main-font-color: rgb(0, 0, 0);
    --weak-inverse-main-color: rgba(0, 0, 0, 0.03);
    --weak-font-color: rgba(0, 0, 0, 0.2);
    --window-border-radius: 10px;
    --window-panel-color: rgb(67, 67, 67);
    --gray-color: rgb(67, 67, 67);
    --bright-gray-color: rgb(80, 80, 80);
    --window-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    --weak-box-shadow: 0px 0px 3px gray;
    --buttons-mobile-color: rgba(255, 255, 255, 0.5);
    --window-background-color: rgba(255, 255, 255, 1);

    --title-author-text-shadow-color: rgba(0, 0, 0, 0);
    --main-window-button-hover-color: rgb(0, 0, 0);
    --main-window-button-hover-text-shadow-color: rgba(255, 98, 0, 0);
}

button:focus, a:focus { outline: none; }
button:hover, a:hover { cursor: pointer; }

* {
    color: var(--main-font-color)
}

img {
    user-select: none;
}

#glcanvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}

html, body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

html {
    font-size: 1.4rem;
}

/* Override black screen on page opened */
#override {
    position: fixed;
    inset: 0;
    z-index: 3;
    animation: override-disappear 1s linear forwards;
    pointer-events: none;
}

@keyframes override-disappear {
    from {
        background-color: black;
    }
    to {
        background-color: transparent;
    }
}

#centered {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#music-illustration-btn {
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    width: 150px;
    right: 20px;
    top: -110px;
    filter: brightness(70%);
    transition: filter 0.1s linear;
}

.main-window-music-particle {
    position: absolute;
    color: var(--weak-font-color);
    z-index: -1;
    animation: music-particle-disappear 3s linear;
}

@keyframes music-particle-disappear {
    0% {
        font-size: 2rem;
        opacity: 1;
    }
    100% {
        font-size: 1rem;
        opacity: 0;
    }
}

#music-illustration-btn.music-illustration-animation {
    animation: music-illustration-anim 0.2s ease-out;
}

@keyframes music-illustration-anim {
    0% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

#music-illustration-btn:hover {
    filter: brightness(100%);
}

#music-illustration-btn {
    cursor: pointer;
}

#quick-links {
    display: none !important;
    position: absolute;
    bottom: 10px;
    left: 50%;
    gap: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    user-select: none;
}

#quick-links button {
    position: relative;
    color: var(--main-font-color);
    backdrop-filter: blur(100px) brightness(100%) opacity(90%);
    background-color: transparent;
    border: var(--button-border);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: font-size 0.1s linear;
}

#quick-links *:not(button):not(a) {
    pointer-events: none;
}

#quick-links button.copyable::after {
    position: absolute;
    content: 'Copied @pizda69!';
    width: 300px;
    height: 40px;
    top: -50px;
    left: 50%;
    border-radius: 10px;
    background-color: var(--window-background-color);
    opacity: 0;
    font-size: 1.3rem;
    pointer-events: none;
}

#quick-links button.copyable::before {
    pointer-events: none;
    position: absolute;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--window-background-color);
    top: -10px;
    left: 50%;
    opacity: 0;
}

#quick-links button.copyable.show-copied-popup::after,
#quick-links button.copyable.show-copied-popup::before {
    animation: s-popup 2s ease-in-out forwards;
}

@keyframes s-popup {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    20% {
        transform: translateX(-50%) skew(0deg);
        opacity: .6;
    }
    40% {
        transform: translateX(-50%) skew(0deg);
        opacity: .6;
    }
    100% {
        transform: translateX(-40%) skew(-10deg);
        opacity: 0;
    }
}

#quick-links i {
    color: var(--gray-color);
}

#quick-links button:hover {
    font-size: 1.25rem;
}

#quick-links a {
    position: absolute;
    inset: 0;
}

#music-btn, #sound-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    font-size: 1.7rem;
    transition: font-size 0.2s linear;
}

#music-btn.audio-btn-disabled::before, #sound-btn.audio-btn-disabled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 3px;
    transform: translateY(13px) translateX(25px);
    border-radius: 10px;
    rotate: 45deg;
    background: var(--gray-color);;
    transition: all .2s ease-in-out;
}

#music-btn.audio-btn-disabled:hover::before, #sound-btn.audio-btn-disabled:hover::before {
    width: 100%;
    transform: translateY(15px) translateX(20px);
}

#music-btn i, #sound-btn i {
    color: var(--gray-color)
}

#sound-btn {
    display: block;
    right: 20px;
    top: 20px;
}

#night-mode-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    font-size: 1.7rem;
    transition: font-size 0.2s linear;
    transition: all .3s ease;
}

#night-mode-btn:hover, #music-btn:hover, #sound-btn:hover {
    font-size: 2rem;
}

.btn-animation {
    display: inline-block;
    animation: btn-anim 0.3s ease-out forwards;
}

@keyframes btn-anim {
    0% {
        rotate: 50deg;
        scale: 0;
    }
    100% {
        scale: 1;
        rotate: 0deg;
    }
}

#night-mode-btn i {
    color: var(--gray-color)
}

.image-content {
    margin: 0px !important;
    padding: 0px !important;
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    display: block;
    margin: 0 auto !important;
    max-width: 100%;
    max-height: 100%;;
}

.open-in-window:hover {
    cursor: pointer;
}

@media (max-width: 932px) {
    html {
        font-size: 1.15rem;
    }

    #quick-links {
        top: 20px;
        height: min-content;
    }

    #discord-btn::before {
        display: none !important;
    }
    
    #discord-btn::after {
        font-size: 1rem !important;
        transform: translateX(calc(-50% + 25px)) translateY(100px) !important;
    }

    #music-btn {
        display: block;
    }

    #music-illustration-btn {
        display: none;
    }

    .main-window-music-particle {
        display: none;
    }

    #sound-btn {
        top: 80px;
    }
}