/* MAIN WINDOW */

#main-window {
    --border-radius: var(--window-border-radius);
    position: relative;
    max-width: 100vw;
    margin-top: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--window-box-shadow);
    user-select: none;
    animation: main-window-appearance 3s ease-out forwards;
}

#main-window .content {
    border-bottom-left-radius: var(--window-border-radius);
    border-bottom-right-radius: var(--window-border-radius);
    backdrop-filter: blur(100px) brightness(100%) opacity(93%);
    padding: 30px 70px;
}

@keyframes main-window-appearance {
    from {
        transform: translateY(30px);
        scale: 1.1;
    }
    to {
        scale: 1;
        transform: none;
    }
}

#title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
}

#title-author {
    font-size: 1.3em;
    text-shadow: 0px 0px 9px var(--title-author-text-shadow-color);
    color: rgb(255, 200, 0);
    font-weight: 400;
}

#main-window .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.gold-btn *:not(button) {
    pointer-events: none;
    user-select: none;
    color: inherit !important;
    text-shadow: inherit !important;
}

.gold-btn {
    text-decoration: none;
    color: var(--main-font-color);
    background-color: transparent;
    border: var(--button-border);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 2.5rem;
    transition: all 0.1s linear;
    opacity: .5;
}

.gold-btn:hover {
    color: var(--main-window-button-hover-color);
    opacity: 1;
    text-shadow: 0px 0px 5px var(--main-window-button-hover-text-shadow-color),
                 0px 0px 50px var(--main-window-button-hover-text-shadow-color);
    scale: 1.06;
}

.gold-btn i, .gold-btn svg {
    font-size: 1em;
    width: 50px;
    height: 50px;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    transition: font-size 0.1s linear;
}

.gold-btn p {
    text-align: center;
    font-size: 0.8rem;
}

/* ABOUT ME */
#about-me .profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#about-me .header {
    display: flex;
    gap: 30px;
    padding: 40px;
    padding-bottom: 20px;
    pointer-events: none;
    user-select: none;
}

#about-me .profile-name {
    position: relative;
    font-size: 3rem;
}

/* #about-me-btn > .decoration {
    display: block;
    width: 100% ;
    height: 72px;
    background: var(--main-font-color);
    -webkit-mask: url('../line.svg') no-repeat center / contain;
    mask: url('../line.svg') no-repeat center / contain;
} */

#about-me .subtitle {
    color: var(--weak-font-color);
    font-size: 1.4rem;
}

/* SKILLS */

#skills .tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#skills .tools-container > span {
    user-select: none;
    font-size: 0.9rem;
    margin: 0;
    box-shadow: 0px 0px 0px transparent, 0px 3px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px;
    color: var(--bright-gray-color);
    transition: all 0.1s ease-out;
    
    flex: 0 1 auto;
    max-width: 100%;
    white-space: normal;
}

#skills .tools-container > span:hover {
    color: var(--main-font-color);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--weak-inverse-main-color);
}

#skills h2:first-child {
    margin-top: 0px !important;
}

#skills .illustrations-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: radial-gradient(var(--weak-inverse-main-color), transparent 70%);
    border-radius: var(--window-border-radius);
    padding: 20px;
    --gap: 10px;
    gap: var(--gap);
}

#skills .illustrations-container img {
    max-width: 240px;
    max-height: 240px;
    border-radius: var(--window-border-radius);
    margin: 0px;
    transition: all 0.1s ease-out;
}

#skills .illustrations-container img:hover {
    scale: 1.05;
}

#skills .tools-categories {
    margin-top: 20px;
    position: relative;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

#skills .tools-categories h3 {
    background: none;
}

#skills .tools-categories::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .5;
    border-radius: var(--window-border-radius);
    background: conic-gradient(var(--weak-inverse-main-color) 20%, transparent);
}

#skills .tools-categories * {
    flex: 1
}

/* CREATION */

#creations .centered-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#creations .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#creations .links img {
    margin: 0;
    width: calc(1280px / 4);
    height: calc(720px / 4);
    border-radius: 10px;
    padding: 3px;
    transition: all .1s linear;
}

#creations .links img:hover {
    border-radius: 10px;
    padding: 0px;
}

/* LINKS */

#links .discord {
    border-radius: var(--window-border-radius);
    background-color: var(--weak-inverse-main-color);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    width: 350px;
    color: var(--main-font-color);
}

#links .discord p {
    flex: 1;
    color: var(--main-font-color);
}

#links .discord p, 
#links .discord > i,
#links .discord .discord-copied 
#links .discord .copy-btn
{
    opacity: .5;
}

#links .discord > i {
    font-size: 1.5em;
}

#links .discord .copy-btn {
    background-color: transparent;
    border: none;
    transition: all .1s linear;
    opacity: .5;
}

#links .discord .copy-btn:hover {
    scale: 1.1 !important;
    opacity: 1 !important;
}

#links .discord .copy-btn,
#links .discord .discord-copied {
    font-size: 1.5em;

    width: 60px;
    height: 60px;
}

#links .discord .copy-btn {
    animation: discord-copy-btn-anim .3s ease-in-out;
}

@keyframes discord-copy-btn-anim {
    from {
        scale: 1.5;
        opacity: 0;
        rotate: -5deg;
    } to {
        scale: 1;
        opacity: .5;
        rotate: 0deg;
    }
}

#links .discord .discord-copied {
    display: none;
    justify-content: center;
    align-items: center;
    animation: discord-copied-anim .7s ease-in-out forwards
}

@keyframes discord-copied-anim {
    0% {
        scale: 1
    } 40% {
        scale: 1.5
    } 100% {
        scale: 0;
        opacity: 0.2;
        rotate: -5deg
    }
}

#links .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
}

#links .flex-links {
    display: flex;
    gap: 40px;
}

#links .flex-links * {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* #links .flex-links > * {
    border: 2px solid var(--main-font-color)
} */

/* STATUSES */

.status-content .content {
    background-color: rgba(0, 0, 0, .1);
    padding: 10px;
    border-radius: var(--window-border-radius);
}

.status-container {
    overflow-y: hidden;
    overflow-x: hidden;
}

.status {
    margin: 10px 0;
    color: var(--main-font-color);
    border-left: 3px dashed var(--main-font-color);
    background: linear-gradient(45deg, transparent, var(--weak-inverse-main-color));
    padding: 5px 20px;
    opacity: .7;
    position: relative;
    transform-origin: left;
    animation: status-anim .6s ease-out forwards;
}

@keyframes status-anim {
    from {
        transform: skewX(5deg);
        scale: .93;
        opacity: 0;
        left: -20px;
    } to {
        transform: unset;
        scale: 1;
        opacity: .7;
        left: 0px;
    }
}

#statuses p {
    margin: 10px 0;
}

.status.new {
    opacity: 1;
    filter: brightness(1.5);
    position: relative;
    border-left: 3px solid var(--main-font-color);
}

.status * {
    color: inherit;
}

.status > .header {
    display: flex;
    justify-content: space-between;
}

.status > .header * {
    font-size: 15px;
    margin: 0px;
}

.status > .header > .author {
    user-select: none;
    pointer-events: none;
}

.status > .header > .time-passed {
    text-align: right !important;
    user-select: none;
    font-size: 15px;
    position: relative;
    transition: all 0.5s ease-out;
}

.status .header > .time-passed::before {
    position: absolute;
    content: attr(data-date);
    width: max-content;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.status > .header > .time-passed:hover::before {
    opacity: 0.5;
    transform: translateX(calc(-100% - 10px));
}

.status > .header > .time-passed:hover {
    filter: brightness(1.35);
}

.status > .header > .time-passed:hover {
    cursor: help;
}

.status > .header > .time-passed::selection {
    cursor: copy !important;
}

@media (max-width: 500px) {
    #skills .tools-categories {
        flex-direction: column;
    }

    #skills .tools-categories::after {
        all: unset
    }

    #skills .tools-container > span {
        flex: 1 1 100%;
        text-align: center;
    }
}

@media (max-width: 932px) {
    #title {
        font-size: min(calc(14vw + 1px), 2.5rem);
    }

    #title-author {
        display: block;
    }

    #main-window {
        box-shadow: none;
        background-color: transparent;
        animation: none;
    }

    #main-window > .window-panel {
        display: none;
    }

    #main-window .content {
        padding: 0;
        backdrop-filter: initial;
        background-color: transparent;
    }

    #main-window .buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 0px;
        margin: 0 auto;
        gap: 10px;
    }

    #main-window .buttons > button {
        width: 90px;
        height: 90px;
    }
    
    /* 
    #main-window .buttons > :last-child {
        grid-column: span 2;
        width: 100%;
    } */

    #main-window .buttons > button, #bottom-buttons > button {
        background-color: var(--buttons-mobile-color);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #about-me .profile-image {
        width: 80px;
        height: 80px;
    }

    #about-me .header {
        display: flex;
        gap: 30px;
        padding: 20px;
        padding-top: 30px;
    }

    #about-me .profile-name {
        font-size: 2rem;
    }

    #about-me .subtitle {
        font-size: 1rem;
    }

    .left-image {
        float: right;
        width: 100%;
        padding-right: 0px; 
    }

    #skills .illustrations-container > img { 
        width: calc(50% - var(--gap) / 2);
        max-width: none;
        max-height: none;
    }

    #creations .links a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #creations .links img {
        height: unset;
        width: min(600px, 100%);
    }

    #skills .tools-container > span:hover {
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }

    #creations .game-info-container .download.pc-only {
        display: none;
    }

    #creations .game-info-container .download.mobile-only {
        display: block;
    }

    #links .centered {
        justify-content: start;
    }

    #links .flex-links {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    #links .flex-links > * {
        flex-direction: row;
        padding: 0 20px;
        background-color: var(--weak-inverse-main-color);
        width: 100%;
        gap: 20px;
    }

    #links p {
        font-size: 1.2rem;
    }

    #links .discord {
        width: 100%;
        padding-left: 20px;
    }
}

@media (max-height: 450px) {
    #title {
        display: none;
    }

    #title-author {
        display: inline;
    }

    #main-window {
        margin: 0;
    }

    #main-window .buttons {
        grid-template-rows: 1fr !important;
        grid-template-columns: repeat(4, 1fr) !important;
    }

    #main-window > .content {
        width: 100%;
    }

    #about-me > .header {
        display: none;
    }
}