.window {
    --width: 800px;
    --height: 500px;
    --border-radius: var(--window-border-radius);
    border-radius: var(--border-radius);
    background-color: var(--window-background-color);
    backdrop-filter: blur(120px) brightness(90%);
    position: fixed;
    width: var(--width);
    height: var(--height);
    display: none;
    flex-direction: column;
    z-index: 1;
    box-shadow: var(--window-box-shadow);
    max-width: 100vw;
    max-height: 100vh;
}

@keyframes window-fullscreen-anim {
  from {
    --border-radius: var(--window-border-radius);
    width: var(--width);
    height: var(--height);
    top: var(--top);
    left: var(--left);
  }
  to {
    --border-radius: 0px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
}

.window-fullscreen {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    --border-radius: 0px;
}

.window-fullscreen-show {
    animation: window-fullscreen-anim 0.3s ease-in-out forwards;
}

.window-fullscreen-hide {
    animation: window-fullscreen-anim 0.3s ease-in-out forwards reverse;
}

.window > .content p {
    margin: 20px 0;
}

.window > .content h1:not(:first-child),
.window > .content h2:not(:first-child),
.window > .content h3:not(:first-child),
.window > .content h4:not(:first-child),
.window > .content h5:not(:first-child),
.window > .content h6:not(:first-child) {
    margin-top: 30px;
}

.window > .content h1,
.window > .content h2,
.window > .content h3,
.window > .content h4,
.window > .content h5,
.window > .content h6 {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-radius: var(--window-border-radius);
    background: linear-gradient(to bottom, var(--weak-inverse-main-color), transparent);
}

.window:not(#about-me) h1 {
    font-size: 2.5rem;
    /* border-left: 5px solid var(--main-font-color); */
    /* padding: 0px 25px; */
    text-align: left;
}

.window .content h2 {
    margin-top: 50px !important;
    /* padding: 0px 15px; */
    font-size: 2rem;
    font-weight: 500;
    /* border-left: 3px solid var(--main-font-color); */
}

.window .content p {
    text-align: justify;
}

.show-window {
    animation: s-window 0.4s ease-out forwards;
}

@keyframes s-window {
    0% {
        opacity: 0;
        top: calc(50vh - var(--height) / 2);
        left: calc(50vw - var(--width) / 2);
        scale: 1.5;
    }
    100% {
        opacity: 1;
        top: var(--top);
        left: var(--left);
        scale: 1;
    }
}

@keyframes s-window-mobile {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

.hide-window {
    animation: h-window 0.3s ease-in forwards;
}

@keyframes h-window {
    0% {
        opacity: 1;
        top: var(--top);
        left: var(--left);
        scale: 1;
    }
    100% {
        opacity: 0;
        top: calc(50vh - var(--height) / 2);
        left: calc(50vw - var(--width) / 2);
        scale: 0;
    }
}

.window-panel {
    font-size: 1.5rem;
    font-weight: 900;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--window-panel-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    user-select: none;
    -webkit-user-drag: none;
}

.window-panel * {
    color: white;
    font-size: 1.2rem;
}

.window-panel .title {
    flex: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    pointer-events: visible;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.window-panel > .buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.window-panel > .buttons > button {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 100%;
    transition: background-color 0.05s linear, font-size 0.1s linear;
}

.window-panel > .buttons > button > i {
    font-size: inherit
}

.window-panel > .buttons button:active {
    font-size: 0.85em;
}

.window-panel .close {
    border-top-right-radius: var(--border-radius);
}

.window-panel .fullscreen:hover, .window-panel .fullscreen:active {
    background-color: rgba(255, 255, 255, 0.13);
}

.window-panel .close:hover, .window-panel .close:active {
    background-color: rgb(223, 10, 10);
}

.window > .content {
    margin: 4px;
    margin-top: 0px;
    padding: 20px;
    overflow-y: scroll;
    flex: 1;
    border-bottom-left-radius: var(--window-border-radius);
    border-bottom-right-radius: var(--window-border-radius);
    /* background-color: var(--main-color); */
}

.window > .content::-webkit-scrollbar {
  width: 8px;
}

.window > .content::-webkit-scrollbar-track {
  background: transparent;
}

.window > .content::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

.window > .content .centered-image {
    display: block;
    margin: 0 auto;
}

@media (max-width: 932px) {
    .window, .window * {
        border-radius: unset;
    }

    .window {
        --border-radius: 0px;
        position: absolute;
        inset: 0 !important;
        width: 100vw;
        height: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
    }

    .window > .content {
        margin-right: 0;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 65px;
    }

    .window > .content::-webkit-scrollbar {
        display: none;
    }

    .window-panel .fullscreen {
        display: none;
    }

    .show-window {
        animation: s-window-mobile 0.3s ease-out forwards;
    }

    .hide-window {
        animation: s-window-mobile 0.3s ease-out reverse forwards;
    }
}